name: Learn2Play Docker CI

on:
  push:
    branches:
      - main
      - staging

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

    - name: Build Docker images
  run: |
    cd learn2play-backend-ai
    docker compose build

